.react-datepicker__input-container {
  width: inherit;
}

.react-datepicker-wrapper input {
  width: 80vw;
  border: 1px solid #e2e8f0;
  border-radius: 5px;
  padding: 5px;
}

@media (min-width: 768px) {
  .react-datepicker-wrapper input {
    width: 20vw;
  }
}
